{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Text Summarization</h1>
    <form action="{{ url_for('analyze') }}" method="post">
        <label for="text">Enter Text:</label><br>
        <textarea id="text" name="text" rows="10" cols="50"></textarea><br><br>

        <div class="plot-type-container">
            <label for="plot_type">Select Plot Type:</label>
            <select id="plot_type" name="plot_type">
                <option value="bar">Bar Plot</option>
                <option value="scatter">Scatter Plot</option>
            </select>
        </div>
        <br><br>

        <button type="submit">Summarize</button>
    </form>
</div>
{% endblock %}